<!DOCTYPE html>
<html lang="ca">
<head>
  <meta charset="UTF-8">
  <title>Nou Manga</title>
  <link rel="stylesheet" href="/nou_css.css">
</head>
<body>
  <h1>➕ Afegir Manga Nou</h1>
  <%= htmlMessage %>

  <form action="/mangas" method="POST">
    <label>Títol:</label>
    <input type="text" name="title" required>

    <label>Autor:</label>
    <input type="text" name="author" required>

    <label>Any:</label>
    <input type="number" name="year" required>

    <label>Gènere:</label>
    <input type="text" name="genre">

    <label>Volums:</label>
    <input type="number" name="volumes">

    <button type="submit">Guardar</button>
  </form>
</body>
</html>
